
# GitHub OAuth client ID
NUXT_OAUTH_GITHUB_CLIENT_ID=
# GitHub OAuth client secret
NUXT_OAUTH_GITHUB_CLIENT_SECRET=
DATABASE_URL=
NUXT_SESSION_PASSWORD=tu genere ici une chaine de caractère minimum 32 caractère . Lis la doc a ce niveau . 
DEEPSEEK_API_KEY=LA clé API 
